@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: grey url("../images/1057791_960.jpg") no-repeat center center;
  background-size: cover;
}
.header {
  background: black;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: white;
  margin-bottom: 40px;
}
.site-logo {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
}
.site-logo img {
  max-height: 100%;
  width: auto;
}
.header h1 {
  margin-left: 20px;
  font-weight: 600;
  font-size: 1.8rem;
}
.horizontal-list {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}
.horizontal-list li {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bolder;
  color: white;
}
.horizontal-list li a {
  color: white;
  text-decoration: none;
}
.header li:hover {
  border: 1px solid white;
}
.package-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}
.package-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 400px;
  margin: 10px;
  overflow: hidden;
  padding-bottom: 20px;
  border: 2px solid black;
}
.package-card .image{
  width: 100%;
  height: 350px;        
  overflow: hidden;    
}
.package-card .image img{
  width: 100%;
  height: 350px;
  object-fit: cover; 
  object-position: center;
  display: block;      
}


.package-card h2 {
  margin: 10px 0;
  font-size: 1.3rem;
}
.package-card p, .package-card h4 {
  margin: 5px 10px;
  font-size:small;
  font-weight: bold;
  text-align: justify;
}
.package-card button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
  cursor: pointer;
  font-weight: bold;
}
